extends layout

block content
  h1 Baraja Española
  .container
    each palo in ['oros', 'copas', 'espadas', 'bastos']
      each numero in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
        - let carta = numero + palo.charAt(0).toUpperCase()
        .card(style='padding: 0%; display: inline-block; width: 20px; margin: 3%')
          img(src=`/images/${palo}/${carta}.png`, alt=`${numero} de ${palo}`)

  button#shuffle-btn(type='button') Barajar
  a(href='/random-card') 
    button(type='button') Carta al Azar

  script.
    function shuffleCards() {
      var images = document.querySelectorAll('.card img');
      var srcArray = [];
      images.forEach(img => srcArray.push(img.src)); // Obtenemos las rutas de las imágenes
      srcArray.sort(() => Math.random() - 0.5); // Barajamos el array de rutas
      images.forEach((img, index) => img.src = srcArray[index]); // Asignamos las rutas barajadas
    }

    document.getElementById('shuffle-btn').addEventListener('click', function() {
      shuffleCards();
    });
